<ng-container *ngIf="countGameStep!='0'&&countGameStep!=null">
        <div class="container result_area">
            <div class="card-deck">
                    <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                        <th></th>
                        <th>ทีมที่ 1</th>
                        <th>ทีมที่ 2</th>
                        <th>ทีมที่ 3</th>
                        <th>ทีมที่ 4</th>
                        </tr>
                    </thead>
                        <tbody>
                                <ng-container *ngFor="let step of steps; index as  i; first as isFirst;let l = count">
                                    <ng-container *ngIf="i=='0'">
                                            <tr>
                                                    <td>ทีเด็ดทีมเต็ง</td>
                                                    <ng-container *ngFor="let hand_step of hand_steps; index as  i; first as isFirst;let l = count">
                                                        <ng-container *ngIf="hand_step.hgs_sb_id==step">
                                                                <td>
                                                                        <p class="card-text" style="font-size: 12px;">
                                                                                <ng-container *ngIf="hand_step.hgs_team_win=='1'">
                                                                                        {{hand_step.hd_home}} ชนะ
                                                                                </ng-container>
                                                                                
                                                                                <ng-container *ngIf="hand_step.hgs_team_win=='2'">
                                                                                        {{hand_step.hd_away}} ชนะ
                                                                                </ng-container>
                                
                                                                                <ng-container *ngIf="hand_step.hgs_team_win=='3'">
                                                                                        {{hand_step.hd_home}} เสมอ {{hand_step.hd_away}}
                                                                                </ng-container>
                                                                        </p>
                                                                </td>
                                                                
                                                        </ng-container>
                                                    </ng-container>
                                            </tr>
                                    </ng-container>
                                    <ng-container *ngIf="i!='0'">
                                            <tr>
                                            <td>ชุดที่: {{i}} </td>
                                            <ng-container *ngFor="let hand_step of hand_steps; index as  i; first as isFirst;let l = count">
                                                <ng-container *ngIf="hand_step.hgs_sb_id==step">
                                                        <td>
                                                        <p class="card-text" style="font-size: 12px;">
                                                                <ng-container *ngIf="hand_step.hgs_team_win=='1'">
                                                                        {{hand_step.hd_home}} ชนะ
                                                                </ng-container>
                                                                
                                                                <ng-container *ngIf="hand_step.hgs_team_win=='2'">
                                                                        {{hand_step.hd_away}} ชนะ
                                                                </ng-container>
            
                                                                <ng-container *ngIf="hand_step.hgs_team_win=='3'">
                                                                        {{hand_step.hd_home}} เสมอ {{hand_step.hd_away}}
                                                                </ng-container>
                                                        </p>
                                                        </td>
                                                </ng-container>
                                            </ng-container>
                                            </tr>
                                    </ng-container>
                                </ng-container>
                        </tbody>
                    </table>
                    
            <!-- <ng-container *ngFor="let step of steps; index as  i; first as isFirst;let l = count">
                    <ng-container *ngIf="i=='0'">
                           <div class="title_date">
                                โปรแกรมจัดสเต็ปบอล
                                <button class="btn btn-warning hover" (click)="resetStep()">Reset</button>
                           </div> 
                           <div class="card mb-6">
                                <div class="card-body">
                                    <h4 class="card-title" style="font-size: 16px; font-weight: bold;color: red;">ทีเด็ดทีมเต็ง</h4>
                                    <ng-container *ngFor="let hand_step of hand_steps; index as  i; first as isFirst;let l = count">
                                        <ng-container *ngIf="hand_step.hgs_sb_id==step">
                                                <p class="card-text" style="font-size: 12px;">
                                                        <ng-container *ngIf="hand_step.hgs_team_win=='1'">
                                                                {{hand_step.hd_home}} ชนะ
                                                        </ng-container>
                                                        
                                                        <ng-container *ngIf="hand_step.hgs_team_win=='2'">
                                                                {{hand_step.hd_away}} ชนะ
                                                        </ng-container>
        
                                                        <ng-container *ngIf="hand_step.hgs_team_win=='3'">
                                                                {{hand_step.hd_home}} เสมอ {{hand_step.hd_away}}
                                                        </ng-container>
                                                </p>
                                        </ng-container>
                                    </ng-container>
                                </div>
                           </div>
                           <div class="w-100 d-none d-sm-block d"></div>
                    </ng-container>
                    <ng-container *ngIf="i!='0'">
                        
                        <div class="card mb-6">
                            <div class="card-body">
                                <h4 class="card-title" style="font-size: 16px; font-weight: bold;">ชุดที่: {{i}} </h4>
                                <ng-container *ngFor="let hand_step of hand_steps; index as  i; first as isFirst;let l = count">
                                    <ng-container *ngIf="hand_step.hgs_sb_id==step">
                                            <p class="card-text" style="font-size: 12px;">
                                                    <ng-container *ngIf="hand_step.hgs_team_win=='1'">
                                                            {{hand_step.hd_home}} ชนะ
                                                    </ng-container>
                                                    
                                                    <ng-container *ngIf="hand_step.hgs_team_win=='2'">
                                                            {{hand_step.hd_away}} ชนะ
                                                    </ng-container>

                                                    <ng-container *ngIf="hand_step.hgs_team_win=='3'">
                                                            {{hand_step.hd_home}} เสมอ {{hand_step.hd_away}}
                                                    </ng-container>
                                            </p>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <ng-container *ngIf="i%2=='0'&&i>1">
                                <div class="w-100 d-none d-sm-block d"></div>
                        </ng-container>
                    </ng-container>
                    
            </ng-container> -->
                
            </div>
        </div>
</ng-container>

<ng-container *ngIf="countGameStep=='0'||countGameStep==''||countGameStep==null">
        <!-- <ng-container *ngIf="check_game_start==0">
            <div class="container">
                <div style="font-size: 4em; text-align: center; color: white;">เกมยังไม่เปิด</div> 
            </div>
        </ng-container> -->
        <!-- <ng-container *ngIf="check_game_start==1"> -->
                <form #form='ngForm' class="form-horizontal" >
            <div class="container">
                    <div class="team_area">
                            <div class="container" style="padding:10px;">
                                    <h2 style="color: white;">โปรแกรมจัดสเต็ปบอล</h2>       
                                    <table class="table table-dark table-striped">
                                      <thead>
                                        <tr>
                                          <th>เวลา</th>
                                          <th>เหย้า</th>
                                          <th>ราคา</th>
                                          <th>เยือน</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                            <ng-container *ngFor="let games of users; index as  i; first as isFirst;let l = count">
                                                    <tr>
                                                        <td>{{games.hd_time}}</td>
                                                        <td>
                                                            <div id="{{games.hd_home}}">
                                                                <ng-container *ngIf="games.hg_team_win==null||games.hg_team_win==''">
                                                                        <input  type="radio" (click)="selectTeam($event)"  value="1" name="{{games.hd_id}}"   ngModel="{{games.hd_id}}" id="defaultGroupExample_{{i}}" >
                                                                </ng-container>
                                                                <label  for="defaultGroupExample_{{i}}">&nbsp; {{games.hd_home}} </label>
                                                            </div>
                                                            <ng-container *ngIf="games.hg_team_win=='1'">
                                                                <span _ngcontent-ehk-c2="" class="badge badge-pill badge-success" style="font-weight: 400;">  </span>
                                                            </ng-container>
                                                        </td>
                                                        <td>{{games.hd_handicap}}</td>
                                                        <td>
                                                            <div id="{{games.hd_away}}">
                                                                <ng-container *ngIf="games.hg_team_win==null||games.hg_team_win==''">
                                                                    <input  type="radio" (click)="selectTeam($event)" value="2" name="{{games.hd_id}}"  ngModel="{{games.hd_id}}" id="defaultGroupExample3_{{i}}">
                                                                </ng-container>
                                                                <label  for="defaultGroupExample3_{{i}}">&nbsp; {{games.hd_away}} </label>
                                                            </div>
                                                            <ng-container *ngIf="games.hg_team_win=='2'">
                                                                    <span _ngcontent-ehk-c2="" class="badge badge-pill badge-success" style="font-weight: 400;">  </span>
                                                            </ng-container>
                                                        </td>
                                                    </tr>
                                            </ng-container>
                                      </tbody>
                                    </table>
                                  </div>

                        <!-- <ng-container *ngFor="let games of users; index as  i; first as isFirst;let l = count">
                            <div  class="col-md-12 col-sm-12 ">
                                <div  class="card mb-3" id="{{games.hd_id}}">
                                    <div  class="card-body">
                                        <div  class="row">
                                            <div  class="col-md-12 col-sm-12">
                                                <h5  class="card-header"><span  class="border p-1  bg-success text-white">เวลา {{games.hd_time}}</span></h5></div>
                                            <div  class="col-md-5 col-sm-5" style="font-size: 28px;text-align: center;">
                                                <div id="{{games.hd_home}}">
                                                    <ng-container *ngIf="games.hg_team_win==null||games.hg_team_win==''">
                                                            <input  type="radio" (click)="selectTeam($event)"  value="1" name="{{games.hd_id}}"   ngModel="{{games.hd_id}}" id="defaultGroupExample_{{i}}" >
                                                    </ng-container>
                                                    <label  for="defaultGroupExample_{{i}}">&nbsp; {{games.hd_home}} </label>
                                                </div>
                                                <ng-container *ngIf="games.hg_team_win=='1'">
                                                    <span _ngcontent-ehk-c2="" class="badge badge-pill badge-success" style="font-weight: 400;">  </span>
                                                </ng-container>
                                                
                                            </div>
                                            <div  class="col-md-5 col-sm-5" style="font-size: 28px;text-align: center;">
                                                <div id="{{games.hd_away}}">
                                                    <ng-container *ngIf="games.hg_team_win==null||games.hg_team_win==''">
                                                        <input  type="radio" (click)="selectTeam($event)" value="2" name="{{games.hd_id}}"  ngModel="{{games.hd_id}}" id="defaultGroupExample3_{{i}}">
                                                    </ng-container>
                                                    <label  for="defaultGroupExample3_{{i}}">&nbsp; {{games.hd_away}} </label>
                                                </div>
                                                <ng-container *ngIf="games.hg_team_win=='2'">
                                                        <span _ngcontent-ehk-c2="" class="badge badge-pill badge-success" style="font-weight: 400;">  </span>
                                                </ng-container>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container> -->
                    </div>
                    
                
            </div>
            <div  class="col-md-12 col-sm-12 action_area">
                <div class="container">
                    <div  class="card mb-3">
                        <div  class="card-body">
                            <div class="detailLeft">
                                    <div class="form-group">
                                        <label for="teded1">ทีเด็ดชุดที่ 1</label>
                                        <input type="text" readonly (keyup)="delete_item($event)" class="form-control tded_input" id="tded1">
                                    </div> 
                                    <div class="form-group">
                                        <input type="text" readonly (keyup)="delete_item($event)" class="form-control tded_input" id="tded2">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" readonly (keyup)="delete_item($event)" class="form-control tded_input" id="tded3">
                                    </div>

                            </div>
                            <div class="detailRight">
                                    <div class="form-group">
                                        <label for="email">ทีเด็ดชุดที่ 2</label>
                                        <input type="text" readonly (keyup)="delete_item($event)" class="form-control tded_input" id="tded4">
                                    </div> 
                                    <div class="form-group">
                                        <input type="text" readonly (keyup)="delete_item($event)" class="form-control tded_input" id="tded5">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" readonly (keyup)="delete_item($event)" class="form-control tded_input" id="tded6">
                                    </div>
                            </div>
                                
                            <div  class="btn_" style="text-align: left;">
                                <a (click)="sendDataGame(form)" class="badge badge-primary btn_game hover" style="font-size: 1.2em; font-weight:100;color:white; padding-right:30px;padding-left:30px;padding-top:15px;padding-bottom:15px;">ส่งผลทาย</a>
                                
                                <a (click)="resetStep()" class="badge badge-danger btn_game hover" style="margin-left:30px; font-size: 1.2em; font-weight:100;color:white; padding-right:30px;padding-left:30px;padding-top:15px;padding-bottom:15px;">ล้างข้อมูล</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
         </form>
        <!-- </ng-container> -->
    
</ng-container>
