<div _ngcontent-rbr-c4="" class="">
  <div _ngcontent-rbr-c4="" class="container" style="padding-left:10%;padding-right:10%;">
    <chart [type]="typeChart" style="background: white;margin-top:15px;" [data]="dataChart" [options]="optionsChart"></chart>


      <hr _ngcontent-rbr-c4="" style="background: white">
      <chart [type]="typeChart"style="background: white;margin-top:15px;" [data]="dataChart2" [options]="optionsChart"></chart>
      <hr _ngcontent-rbr-c4="" style="background: white">

      <chart [type]="typeChart2"style="background: white;margin-top:15px;" [data]="dataChart3" [options]="optionsChart"></chart>
  </div>
</div>