


<div class="topnav" id="myTopnav">
        <div _ngcontent-jft-c1="" class="container">
            <ng-container *ngIf="member_name!=null&&member_name!=''">
                <a _ngcontent-jft-c1="" class="links active cal_7 active-menu" routerLink="/home" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon1.png"> หน้าหลัก </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/result" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon2.png"> ผลบอล </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/dashboard" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon3.png"> ผลกำไร </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/tded" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon2.png"> ทีเด็ด </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/game_step" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon2.png"> จัดสเต็ปบอล </a>
                
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/livescore"><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon4.png"> ผลบอลสด </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/contact" ng-reflect-router-link="/contact" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon4.png"> ติดต่อเรา </a>
                <a _ngcontent-jft-c1="" class="icon" href="javascript:void(0);" onclick="myFunction()" ng-reflect-router-link-active-options="[object Object]" ng-reflect-router-link-active="active-menu"><i _ngcontent-jft-c1="" class="fa fa-bars"></i></a>
            </ng-container>
            <ng-container *ngIf="member_name==null||member_name==''">
                <a _ngcontent-jft-c1="" class="links active cal_7 active-menu" routerLink="/home" ng-reflect-router-link="/home" ng-reflect-router-link-active-options="[object Object]" ng-reflect-router-link-active="active-menu" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon1.png"> หน้าหลัก </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/result" ng-reflect-router-link="/result" ng-reflect-router-link-active-options="[object Object]" ng-reflect-router-link-active="active-menu" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon2.png"> ผลบอล </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/dashboard" ng-reflect-router-link="/dashboard" ng-reflect-router-link-active-options="[object Object]" ng-reflect-router-link-active="active-menu" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon3.png"> ผลกำไร </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/tded" ng-reflect-router-link="/tded" ng-reflect-router-link-active-options="[object Object]" ng-reflect-router-link-active="active-menu" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon2.png"> ทีเด็ด </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/livescore" ng-reflect-router-link="/contact" ng-reflect-router-link-active-options="[object Object]" ng-reflect-router-link-active="active-menu" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon4.png"> ผลบอลสด </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/contact" ng-reflect-router-link="/contact" ng-reflect-router-link-active-options="[object Object]" ng-reflect-router-link-active="active-menu" ><img _ngcontent-jft-c1="" class="icon_link" src="/assets/images/icon/icon4.png"> ติดต่อเรา </a>
                <a _ngcontent-jft-c1="" class=" links cal_7" routerLink="/login" ng-reflect-router-link="/login" ng-reflect-router-link-active-options="[object Object]" ng-reflect-router-link-active="active-menu"><img _ngcontent-jft-c1="" class="icon_login" src="/assets/images/icon/login.png"></a>
                <a _ngcontent-jft-c1="" class="icon" href="javascript:void(0);" onclick="myFunction()" ng-reflect-router-link-active-options="[object Object]" ng-reflect-router-link-active="active-menu"><i _ngcontent-jft-c1="" class="fa fa-bars"></i></a>
            </ng-container>
        </div>
            
      <a [routerLinkActive]="['active-menu']" [routerLinkActiveOptions]="{exact:true}" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
      </a>
  </div>

  <div class="topnav_mobile" id="myTopnav">
        <ng-container *ngIf="member_name!=null&&member_name!=''">
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/home" class="btn_mobile btn  links active cal_1">หน้าหลัก</a>
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/result" class="btn_mobile btn  links active cal_1">ผลบอล</a>
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard" class="btn_mobile btn  links active cal_1">ผลกำไร</a>
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/tded" class="btn_mobile btn  links active cal_1">ทีเด็ด</a>
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/game_step" class="btn_mobile btn  links active cal_1">จัดสเต็ปบอล</a>
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/contact" class="btn_mobile btn  links active cal_1">ติดต่อเรา</a>
        </ng-container>
        <ng-container *ngIf="member_name==null||member_name==''">
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/home" class="btn_mobile btn  links active cal_1">หน้าหลัก</a>
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/result" class="btn_mobile btn  links active cal_1">ผลบอล</a>
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard" class="btn_mobile btn  links active cal_1">ผลกำไร</a>
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/livescore" class="btn_mobile btn  links active cal_1">ผลบอลสด</a>
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/contact" class="btn_mobile btn  links active cal_1">ติดต่อเรา</a>
                <a [routerLinkActive]="['active-menu']"  [routerLinkActiveOptions]="{exact:true}" routerLink="/login" class="btn_mobile btn  links active cal_1">login</a>
        </ng-container>
        
  </div>